# ==============================================================================
# Variáveis de Ambiente - Louvor App (Google Cloud + Cloud Run + Firestore)
# ==============================================================================

# 1. Configurações do Google Cloud Firestore (Frontend)
VITE_FIREBASE_PROJECT_ID=lab-resources
VITE_FIREBASE_API_KEY=sua_gcp_api_key_aqui

# 2. Configurações do Servidor Backend Node.js & Cloud Run
PORT=8080
NODE_ENV=production
PROJECT_ID=lab-resources
